@media (max-width:1024px) {
    .btn-link {
        margin: 10px;
    }
}

@media (max-width:768px) {
    .image-side {
        display: none;
    }

    .text-side {
        width: 100%;
    }
}

@media (max-width:425px) {
    .text-side {
        padding-top: 3rem;
    }

    .name {
        font-size: 40px;
    }

    .about {
        height: 100vh;
    }

    .about p {
        width: 80%;
    }

    .text-side {
        text-align: center;
    }

    .contact {
        height: 80vh;
    }

    .web {
        width: 100%;

    }

    .web:nth-child(1),
    .web:nth-child(3),
    .web:nth-child(5) {
        margin-bottom: 50px;
    }

    .project-item {
        flex-wrap: wrap;
    }
}